import axios from '@/libs/api.request'
import {formatParams, fmtSearchParams} from '@/libs/util'

//查询
export const list = (params) => {

 	let postParams = fmtSearchParams(params)
 	
	return axios.request({
	    method: 'post',
	    data: postParams,
	    url: '/${projectName}/${moduleName}/${tableSimpleName}/list'
	})
}

// 保存
export const save = (params) => {

	let postParams = formatParams(params)
	
	return axios.request({
	    method: 'post',
	    data: postParams,
	    url: '/${projectName}/${moduleName}/${tableSimpleName}/save'
	})
}

// 获取单条数据
export const get = (params) => {
	let postParams = new URLSearchParams(params)
	return axios.request({
		method: 'post',
		data: postParams,
		url: '/${projectName}/${moduleName}/${tableSimpleName}/get'
	})
}

// 删除
export const del = (params) => {
	let postParams = new URLSearchParams(params)
	return axios.request({
		method: 'post',
		data: postParams,
		url: '/${projectName}/${moduleName}/${tableSimpleName}/delete'
	})
}

// 自定义表单验证
export const onlyOne = (params) => {
	let postParams = new URLSearchParams(params)
	return axios.request({
		method: 'post',
		data: postParams,
		url: '/${projectName}/${moduleName}/${tableSimpleName}/onlyOne'
	})
}